<div class="container-fluid">
    <table class="table table-striped table-bordered" width="500px">
      <tr>
        <td height="75" width="120">
          <canvas id="pie" class="chart chart-pie" chart-data="PieData" chart-labels="labels"></canvas>
        </td>
        <td>
          Bar Chart goes here!
        </td>
      </tr>
      <tr>
        <td>Total Percent of Commitment Met to Date in Primary Area
        </td>
        <td>
          {{model.SelectedProgram.TotalCommitmentCompleted/model.SelectedProgram.TotalCommitment * 100 | number : 0}} %
        </td>
      </tr>
      <tr>
        <td>Total Commitment Completed
        </td>
        <td>${{model.SelectedProgram.TotalCommitment | number : 0}}
        </td>
      </tr>
      <tr>
        <td>Remaining Commitment
        </td>
        <td>${{RemainingObligation | number : 0}}
        </td>
      </tr>
    </table>
</div>
