<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="usageApp" ng-controller="UsageCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Usage Reporting Prototype</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
  <script src="release/ui-grid.min.js"></script>
  <script src="./release/ui-grid.js"></script>
  <script src="./release/ui-grid.css"></script>
  <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
  <!-- <script src="app.css"></script> -->
  <style>
  .myGrid {
    width: 1800px;
    height: 150px;
  }
  </style>
  <script src="app.js"></script>
  <script src="partials/project.js"></script>
  <script src="partials/activity.js"></script>
  <script src="partials/usage.js"></script>
  <script src="partials/issues.js"></script>
  <!-- <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script> -->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <link rel="styleSheet" href="release/ui-grid.min.css"/>
  <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">


</head>
<body>
  <!-- {{model | json}} -->
<div class="container">
  <h2>Company Name</h2>

    <ul class="nav nav-pills">
      <li ng-model="model.Programs.status" ng-repeat="program in model.Programs | filter: 'open'"><a data-toggle="pill" ng-click="selectProgram(program)">{{program.name}}</a></li>
      <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Closed Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- <li>test</li> -->
          <li ng-model="model.Programs.status" ng-repeat="program in model.Programs | filter: 'closed'"><a ng-click="selectProgram(program)">{{program.name}}</a></li>
        </ul>
      </li>
    </ul>

  <div class="tab-content">
    <div id="gridActivity" ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav class="myGrid"></div>
      <a class="btn btn-primary">Save</a><br />

        <!-- Vertical Tabs -->
        <div class="row">
          <div class="tabs-left">
            <ul class="nav nav-tabs nav-stacked col-md-3">
                <li><a href="#/project" data-toggle="tab">Project Detail</a></li>
                <li><a href="#/activity" data-toggle="tab">Activity Detail</a></li>
                <li><a href="#/usage" data-toggle="tab">Usage History</a></li>
                <li><a href="#/issues" data-toggle="tab">Issue Reporting</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div ng-view></div>
          </div>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            User Info</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.</div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            Definitions</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li><strong>Vehicle/Equipment ID</strong> – Identification number of new vehicle/equipment/technology purchased with grant funds. (i.e. for on-road vehicle, input VIN;  for equipment, input serial number)</li>
              <li><strong>Type of Vehicle/Equipment Outfitted</strong> – For activities in which a grant-funded item (i.e. an APU), is installed on a vehicle/piece of equipment, this is the description of the vehicle/piece of equipment (i.e. the truck on which an APU is installed); only applicable to projects where a grant-funded piece of equipment is installed on something else</li>
              <li><strong>ID of Vehicle/Equipment Outfitted</strong> – For activities in which a grant-funded item (i.e. and APU), is installed on a vehicle/piece of equipment, this is the VIN or equipment ID number of the vehicle/piece of equipment (i.e. the truck on which an APU is installed); only applicable to projects where a grant-funded piece of equipment is installed on something else</li>
              <li><strong>Performing Party ID</strong> – A user assigned identification number for tracking purposes (i.e., fleet-assigned truck unit number)</li>
              <li><strong>Activity Life (years)</strong> – Number of years committed to operating vehicle/equipment/technology and reporting the usage</li>
              <li><strong>Primary/Secondary Usage Factor</strong> – Units used for reporting usage of the grant funded vehicle/equipment/technology (i.e. Fuel Use = gallons consumed, Mileage = miles driven, Hours = hours of operation)</div>
            </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
            FAQ</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            For questions: <a href="mailto:aqmogrants@nctcog.org">aqmogrants@nctcog.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>

 </div> <!--end of container -->
  <script>
  $("ul.panel a").click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  </script>
</body>
</html>
