<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="usageApp" ng-controller="UsageCtrl"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Usage Reporting Prototype</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
  <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
  <script src="./release/ui-grid.js"></script>
  <script src="./release/ui-grid.css"></script>
  <!-- <script src="app.css"></script> -->
  <style>
  .myGrid {
    width: 1800px;
    height: 150px;
  }
  </style>
  <script src="app.js"></script>
  <script src="partials/project.js"></script>
  <script src="partials/activity.js"></script>
  <script src="partials/usage.js"></script>
  <script src="partials/issues.js"></script>
  <!-- <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script> -->
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <link rel="styleSheet" href="release/ui-grid.min.css"/>
  <script src="release/ui-grid.min.js"></script>

</head>
<body>
  <!-- {{model | json}} -->
  <div class="container">
    <h2>Company Name</h2>
    <ul class="nav nav-pills">
      <li ng-model="model.Programs.status" ng-repeat="program in model.Programs | filter: 'open'"><a data-toggle="pill" ng-click="selectProgram(program)">{{program.name}}</a></li>
      <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Closed Projects <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <!-- <li>test</li> -->
          <li ng-model="model.Programs.status" ng-repeat="program in model.Programs | filter: 'closed'"><a ng-click="selectProgram(program)">{{program.name}}</a></li>
        </ul>
      </li>
    </ul>

    <div class="tab-content">
      <!-- <div id="SelectedProgramInfo" class="tab-pane fade in active"> -->
        <!-- <h3>Activities</h3> -->
        <!-- <div id="jsGrid"></div> -->
        <!-- <ul>
          <li ng-repeat="activity in model.SelectedProgram.Activities">{{activity.id}}: {{activity.name}}</li>
        </ul> -->
        <div id="gridActivity" ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav class="myGrid"></div>
        <a class="btn btn-primary">Save</a><br />

        <!-- Vertical Tabs -->
        <ul class="nav nav-tabs nav-stacked col-md-3">
            <li><a href="#/project" data-toggle="tab">Project Detail</a></li>
            <li><a href="#/activity" data-toggle="tab">Activity Detail</a></li>
            <li><a href="#/usage" data-toggle="tab">Usage History</a></li>
            <li><a href="#/issues" data-toggle="tab">Issue Reporting</a></li>
        </ul>
        <div ng-view></div>
        <!-- <div class="tab-content col-md-9">
          <div class="tab-pane" id="projectdetail">Project Details go here!</div>
          <div class="tab-pane" id="activitydetail">Acitivity Details go here!</div>
          <div class="tab-pane" id="usage">Usage History goes here!</div>
          <div class="tab-pane" id="issue">Issue Reporting goes here!</div>
        </div> -->
      <!-- </div> end tabs -->
    </div>

  </div>

</body>
</html>
